%h1 Listado de categorías

%table
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th
      %th
      %th

  %tbody
    - @categorias.each do |categoria|
      %tr
        %td= categoria.nombre
        %td= categoria.descripcion
        %td= link_to 'Mostrar', categoria_path(categoria)
        %td= link_to 'Editar', edit_categoria_path(categoria)
        %td= link_to 'Eliminar', categoria, method: :delete, data: { confirm: '¿Estás seguro?' }

%br

= link_to 'Nueva categoría', new_categoria_path

